//register.jade
doctype html
html
	head
		title= title
		meta(name='author',content=authors)
		link(rel='stylesheet',type='text/css',href='css/courriel.css')
		link(rel='stylesheet',type='text/css',href='lib/bootstrap.min.css')
		link(rel='stylesheet',type='text/css',href='css/courriel.css')
		script(src='lib/jquery.min.js')
		script(src='lib/bootstrap.min.js')
		script(src='js/courriel.js')
	body
		if(message)
			if(error_type == 'success')
				div(class='alert alert-success')
					a(href='#', class='close', data-dismiss='alert' aria-label='close') &times;
					strong #{message}
			if(error_type == 'info')
				div(class='alert alert-info')
					a(href='#', class='close', data-dismiss='alert' aria-label='close') &times;
					strong #{message}		
			if(error_type == 'warning')
				div(class='alert alert-warning')
					a(href='#', class='close', data-dismiss='alert' aria-label='close') &times;
					strong #{message}
			if(error_type == 'danger')
				div(class='alert alert-danger')
					a(href='#', class='close', data-dismiss='alert' aria-label='close') &times;
					strong #{message}
		div(id='register-form')
			h1 Welcome
			hr
			form(name='form-login', action='register_submit', method='post')
				table
					tr
						td(class='bold')
							label(for='text-name') Name:
						td
							input(type='text', name='text-name', value='Jean Francois', placeholder='Enter your name', required)
					tr
						td(class='bold')
							label(for='text-username') Username:
						td
							input(type='text', name='text-username', value='user1', placeholder='Enter username', required)
					tr
						td(class='bold')
							label(for='text-password') Password:
						td
							input(type='password', name='text-password', value='test', placeholder='Enter password', required)
					tr
						td(class='bold')
							label(for='text-confirm-password') Confirm Password:
						td
							input(type='password', name='text-confirm-password', value='test', placeholder='Confirm password', required)
					tr
						td
						td
							input(class='blue-theme', type='submit', value='Sign Up')
					tr
						td
						td
							a(href='/login') Login
